{% extends "home/home_page.html" %}

{% block nav %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">

                <li class="nav"><a>
                  <h2 class = "brand">Bitstarter</h2>
                  </a>
                </li>

                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav">
                  <a href="{% url 'product_exhibition.views.home_page' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">主页</h3>
                        <h5 class= "en">Home</h5>
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="nav">
                  <a href="{% url 'product_exhibition.views.perspective' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">我们的观点</h3>
                        <h5 class= "en">Our Perspective</h5>
                      </li>
                    </ul>
                  </a>
                </li>
                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav">
                  <a href="{% url 'product_exhibition.views.product_list' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">产品列表</h3>
                        <h5 class= "en">Production List</h5>
                      </li>
                    </ul>
                  </a>
                </li>

                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav">
                  <a href="/home_contact/">
                      <ul class="nav-ch-en">
                        <li>
                          <h3 class= "ch">联系我们</h3>
                          <h5 class= "en">Contact Us</h5>
                        </li>
                      </ul>
                  </a>
                </li>

                <li class="nav">
                  <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search - 搜索">
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <div class="col-md-5 button-search">
                    <button type="button" class="btn btn-default"> 搜索 </button>
                  </div>
                </li>
            </ul>
      </nav>
{% endblock %}
<br></br>
{% block mainbody %}
<div class="col-md-12 container">
  <div class="col-md-6 col-sm-12">
      <div class="span5 offset1 video">
          <img class="img-polaroid" src = "http://placehold.it/480x300">
      </div>
  </div> <!-- col-md-6 -->
  <div class="col-md-6 table-info-detail">
    <table>
      <tr>
        <td><h4>产品名称 - Product Name: </h4></td>
        <td class="table-info"><h4>{{ product_obj.product_name_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>价格 - Price: </h4></td>
        <td class="table-info"><h4> ¥ {{ product_obj.product_price_en }}</h4></td>
      </tr>
      <tr>
        <td><h4>产品品牌 - Product Brand: </h4></td>
        <td class="table-info"><h4> {{ product_obj.product_brand_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>产品尺寸 - Product Size: </h4></td>
        <td class="table-info"><h4> {{ product_obj.product_size_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>产品特性 - Product Characteristic: </h4></td>
        <td class="table-info"><h4> {{ product_obj.product_char_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>产品种类 - Product Category: </h4></td>
        <td class="table-info"><h4> {{ product_obj.product_category_en }}</h4></td>
      </tr>
    </table>
  </div><!-- col-md-6 -->
</div> <!-- col-md-12 -->
<br></br>
<div class="col-md-12 container">
  <div class="col-md-6">
    <table>
      <tr>
        <td><h4>工作环境 - Work Environment: </h4></td>
        <td class="table-info"><h4>{{ product_obj.work_environment_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>产品材料 - Product Component: </h4></td>
        <td class="table-info"><h4> {{ product_obj.material_ch }}</h4></td>
      </tr>
      <tr>
        <td><h4>额外说明 - Extra Note: </h4></td>
        <td class="table-info"><h4 style="color: #6BE566;"> {{ product_obj.detail_ch }}</h4></td>
      </tr>
    </table>
  </div><!-- col-md-6 -->
  <div class="col-md-6 col-sm-12">
      <div class="span5 offset1 video">
          <img class="img-polaroid" src = "http://placehold.it/480x300">
      </div>
  </div> <!-- col-md-6 -->
</div>

{% endblock %}