{% extends "home/home_page.html" %}

{% block nav %}
      <nav class="navbar navbar-inverse navbar-fixed-top">
            <ul class="nav navbar-nav">

                <li class="nav"><a>
                  <h2 class = "brand">Bitstarter</h2>
                  </a>
                </li>

                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav">
                  <a href="{% url 'product_exhibition.views.home_page' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">主页</h3>
                        <h5 class= "en">Home</h5>
                      </li>
                    </ul>
                  </a>
                </li>

                <li class="nav">
                  <a href="{% url 'product_exhibition.views.perspective' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">我们的观点</h3>
                        <h5 class= "en">Our Perspective</h5>
                      </li>
                    </ul>
                  </a>
                </li>

                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav active">
                  <a href="{% url 'product_exhibition.views.product_list' %}">
                    <ul class="nav-ch-en">
                      <li>
                        <h3 class= "ch">产品列表</h3>
                        <h5 class= "en">Production List</h5>
                      </li>
                    </ul>
                  </a>
                </li>

                <!-- <li class = "divider-vertical"></li> -->
                <li class="nav">
                  <a href = "/home_contact/">
                      <ul class="nav-ch-en">
                        <li>
                          <h3 class= "ch">联系我们</h3>
                          <h5 class= "en">Contact Us</h5>
                        </li>
                      </ul>
                  </a>
                </li>

                <li class="nav">
                  <form class="form-inline">
                    <div class="form-group">
                      
                        <input type="text" class="form-control" placeholder="Search - 搜索">
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <div class="col-md-5 button-search">
                    <button type="button" class="btn btn-default"> 搜索 </button>
                  </div>
                </li>
            </ul>
      </nav>
{% endblock %}

<br></br>
{% block mainbody %}
	<div class="col-xs-6 col-sm-3 affix" id="sidebar" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>
                  <h4> 全部产品 </h4>
                  <h5> Product Category </h5>
              </li>
              <hr></hr>
              {% for topic_entry in objects %}
                {% if topic == topic_entry.fields.name_en %}
                  <li class = "active"><a href="?topic={{topic_entry.fields.name_en}}">
                    <h4 class="ch-prod-list"> {{ topic_entry.fields.name_ch }}</h4>
                    <h5 class="en-prod-list"> - {{ topic_entry.fields.name_en }}</h5>
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </li>
                {% else %}
                  <li><a href="?topic={{topic_entry.fields.name_en}}">
                    <h4 class="ch-prod-list"> {{ topic_entry.fields.name_ch }}</h4>
                    <h5 class="en-prod-list"> - {{ topic_entry.fields.name_en }}</h5>
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div><!--/.well -->
    </div><!--/span-->

    {% block product_content %}
      <div class = "col-xs-6 col-sm-3">
      </div>
      <div class = "container">
        <div class = "col-xs-6 col-sm-9" id = "blog_list">
          {% if items_list %}
            {% for entry in items_list %}
              <div class="product-container">
                <div class="col-sm-8 col-md-4">
                  <img style="border:1px solid black" class="img-rounded img-responsive product-img" src="/site_media/{{ entry.fields.product_img }}">
                </div>
                <table>
                  <thead>
                    <tr>
                      <td class="success">
                        <div class="chin">产品名称:</div>
                        <div class="eng">Product Name:</div>
                      </td>
                      <td>
                        <div class="ch-detail"><b>{{ entry.fields.product_name_ch }}</b></div>
                        <div class="en-detail"><b>{{ entry.fields.product_name_en }}</b></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="success">
                        <div class="chin">产品品牌:</div>
                        <div class="eng">Product Brand:</div>
                      </td>
                      <td>
                        <div class="ch-detail"><b>{{ entry.fields.product_brand_ch }}</b></div>
                        <div class="en-detail"><b>{{ entry.fields.product_brand_en }}</b></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="success">
                        <div class="chin">产品尺寸:</div>
                        <div class="eng">Product Size:</div>
                      </td>
                      <td>
                        <div class="ch-detail"><b>{{ entry.fields.product_size_ch }}</b></div>
                        <div class="en-detail"><b>{{ entry.fields.product_size_en }}</b></div>
                      </td>
                    </tr>
                    <tr>
                      <td class="success">
                        <div class="chin">产品特性:</div>
                        <div class="eng">Product Characteristic:</div>
                      </td>
                      <td>
                        <div class="ch-detail"><b>{{ entry.fields.product_char_ch }}</b></div>
                        <div class="en-detail"><b>{{ entry.fields.product_char_en }}</b></div>
                      </td>
                    </tr>
                  </thead>
                </table>
                <a href="{% url 'product_exhibition.views.product_detail' slug=entry.fields.slug %}"><button type="button" class="btn btn-info btn-prod">更多信息 (More Info)</button></a>
              </div>
              <hr class="footer-divider"></hr>
            {% endfor %}
          {% else %}
            <div class = "jumbotron">
              <h2 class= "ch-product"> 欢迎!</h3>
              <h4 class= "en-product"> Welcome!</h5>
              <hr></hr>
              <h4 class= "ch-product ch-prod-info">
                请在左侧的产品分类栏里，查询你感兴趣的产品！
              </h4>
              <h4 class= "en-product en-prod-info">
                Find the relevant product information base on its category, if you encounter any problem, please let us know. Thank you.
              </h4>
            </div> 
          {% endif %}
          <br></br>
          {% block pagination %}
            <center>
            <ul class="pagination" method="get" name="page">
              {% if items_list.has_previous %}
                  <li><a href="?page={{ items_list.previous_page_number }}" class = "able">&laquo;</a></li>
              {% else %}
                  <li class = "disable"><a href="#">&laquo;</a></li>
              {% endif %}

                <li class="active"><a href=""> Current_Page {{ items_list.number }} | {{ items_list.paginator.num_pages }} </a></li>

                  {% if items_list.has_next %}
                    <li><a href="?page={{ items_list.next_page_number }}" class = "able">&raquo;</a></li>
                  {% else %}
                    <li class="disable"><a href="">&raquo;</a></li>
                  {% endif %}
              </ul>
              </center>
          {% endblock %} <!-- pagination -->
        </div>
      </div>
    {% endblock %} <!-- product_content -->
{% endblock %}